@page "/AddItem"
<div class="w-100 d-flex justify-content-center">
    <div class="w-50 border border-light-1 p-3 m-5">
        <form>
            <!--
            <div class="form-group">
                <label for="weaponType">Weapon Type</label>
                <select class="selectpicker">
                    <option>Bayonet</option>
                    <option>Bowie Knife</option>
                    <option>Butterfly Knife</option>
                    <option>Classic Knife</option>
                    <option>Falchion Knife</option>
                    <option>Flip Knife</option>
                    <option>Gut Knife</option>
                    <option>Huntsman Knife</option>
                    <option>Karambit</option>
                    <option>M9 Bayonet</option>
                    <option>Navaja Knife</option>
                    <option>Nomad Knife</option>
                    <option>Paracord Knife</option>
                    <option>Shadow Daggers</option>
                    <option>Skeleton Knife</option>
                    <option>Stiletto Knife</option>
                    <option>Survival Knife</option>
                    <option>Talon Knife</option>
                    <option>Ursus Knife</option>
                    <option>CZ75-Auto</option>
                    <option>Desert Eagle</option>
                    <option>Dual Berettas</option>
                    <option>Five-SeveN</option>
                    <option>Glock-18</option>
                    <option>P2000</option>
                    <option>P250</option>
                    <option>R8 Revolver</option>
                    <option>Tec-9</option>
                    <option>USP-S</option>
                    <option>MAG-7</option>
                    <option>Nova</option>
                    <option>Sawed-Off</option>
                    <option>XM1014</option>
                    <option>M249</option>
                    <option>Negev</option>
                    <option>MAC-10</option>
                    <option>MP5-SD</option>
                    <option>MP7</option>
                    <option>MP9</option>
                    <option>P90</option>
                    <option>PP-Bizon</option>
                    <option>UMP-45</option>
                    <option>AK-47</option>
                    <option>AUG</option>
                    <option>FAMAS</option>
                    <option>Galil AR</option>
                    <option>M4A1-S</option>
                    <option>M4A4</option>
                    <option>SG 553</option>
                    <option>AWP</option>
                    <option>G3SG1</option>
                    <option>SCAR-20</option>
                    <option>SSG 08</option>
                </select>

            </div>-->

            <!--Name-->
            <div class="form-group">
                <label for="ItemNameInput">Item Name</label>
                <input type="email" class="form-control" id="ItemNameInput" placeholder="Enter Item Name">
            </div>

            <!--Item Condition-->
            <div class="form-group">
                <label for="weaponCondition">Weapon Condition</label>
                <br>
                <select class="selectpicker">
                    <option>Factory New</option>
                    <option>Minimal Wear</option>
                    <option>Field Tested</option>
                    <option>Well Worn</option>
                    <option>Battle Scared</option>
                </select>
            </div>
            
            <!--Picture of item-->
            <div class="form-group">
                <label for="ItemNameInput">Picture of Item</label>
                <input type="email" class="form-control" id="ItemNameInput" placeholder="Enter URL address">
            </div>

            <!--Price-->
            <div class="form-group">
                <label for="ItemPriceInput">Price</label>
                <input type="number" class="form-control" id="ItemPriceInput" placeholder="Set Price">
            </div>


            <!--<div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>-->
        </form>
    </div>
</div>

@code {

}