@page "/Chat"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using SEPCSTier1.Data
@inject IChatData ChatData
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager

<h3>Chat</h3>

@if (chatToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!chatToShow.Any())
{
    <p>
        <em>No ToDo items exist. Please add some.</em>
    </p>
}
else
{
    <table class="table">
        <tbody class="text-gray-700">

        @foreach (var c in chatToShow)
            {
                <tr>
                    <td class="w-1/3 text-left py-3 px-4">@username</td>
                    <td class="w-1/3 text-left py-3 px-4">@c.Chatlist</td>
                </tr>
            }
       </tbody>
           </table>
       }

<h1>Add User Accounts</h1>

<EditForm Model="@newChat" OnValidSubmit="@AddnewChat">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> Username:<br/> <InputText @bind-Value="newChat.Chatlist"/> </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>

@code {
    
    private IList<Models.Chat> chatToShow;
    private IList<Models.Chat> allchatList;

    public string username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        allchatList = await ChatData.GetChat();
        chatToShow = allchatList;
    
        var protectedBrowserStorageResult = await ProtectedSessionStore.GetAsync<string>("username");

        username = protectedBrowserStorageResult.Value;
    }
    
    private Models.Chat newChat = new Models.Chat();

    private  void AddnewChat()
    {
        ChatData.AddChat(newChat);
        NavigationManager.NavigateTo("/Chat");
    }
    
}