@page "/Footer"


@*<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </div>
</nav>*@


<nav class="navbar fixed-bottom navbar-light bg-light">
   

                     
                     <div class="footer-pad">
                        <h4><img src="Logo.png" alt="">CSGO Trading</h4>
                        <ul class="list-unstyled">
                           <li>Via University College</li>
                           <li>8700 Horsens</li>
                           <li>CVR: 12345678</li>
                           <li>&nbsp;</li>
                           <li><h5>Contact</h5></li>
                           <li>&nbsp;</li>
                           <li>
                              <img src="email.png" alt="mail"> <a href="mailto:ColourIT@Email.com">ColourIT@Email.com</a>
                           </li>
                           <li>&nbsp;</li>
                           <li>
                              <img src="phone.png" alt="phone"><a href="tel:123-456-7891">123-456-7891</a>
                           </li>
                           <li>&nbsp;</li>
                        </ul>
                     </div>
                 
                  <div class="col-md-3 col-sm-6">
                     
                     <div class="footer-pad">
                        <h4>Menu</h4>
                        <br>
                        <ul class="list-unstyled">
                           <li><a href="Shop">Shop</a></li>
                           <li><a href="Shop">MyItems</a></li>
                           <li><a href="Admin">Admin</a></li>
                           <li><a href="Wallet">Wallet</a></li>
                           <li><a href="Login">Login</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     
                     <div class="footer-pad">
                        <h4>Newsletter</h4>
                        <br>
                        <h6>Signup with your email!</h6>
                        <input type="text" class="form-control" placeholder="Email...">
                        <br>
                        <input type="Submit">
                        <br>
                     </div>
                  </div>
                 
                  <div class="col-md-3">
                    <br>
                     <h4>Follow <strong>HERE!</strong></h4>
                     
                    <br>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                          
                           <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                          <a href="https://www.instagram.com/" class="fa fa-instagram" ></a>
                          <a href="http://www.youtube.com/" class="fa fa-youtube" ></a>
               </div>
     

</nav>


@code {
    
}