h1,h2,p {
    text-align: center;
}

.fa {
    box-sizing: inherit;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



