@page "/InsertWallet/{id:long}"
@using SEPCSTier1.Data
@inject NavigationManager NavigationManager 
@inject IWalletData WalletData



<h3>InsertWallet</h3>



<div class="col">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="credit.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Wallet</h5>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter price">
            <a href="#" class="btn btn-primary">Insert Money into wallet</a>
        </div>
    </div>

</div>

@layout EmptyLayout

@code {

      [Parameter]
    public long id { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
  
       
        
    }









}