@page "/NavBar"
@using SEPCSTier1.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<RadzenCard Style="height: 100px">
    <RadzenMenu>
        <RadzenMenuItem Text="Home" Icon="home" Path="AdultList" >
        </RadzenMenuItem>

       
            <RadzenMenuItem Text="Shop" Icon="accessibility" Path="Shop">                     
            </RadzenMenuItem>      
        
        <RadzenMenuItem Text="Sell item" Icon="accessibility" Path="AddItem">                     
                    </RadzenMenuItem> 
        
                      
        
        <RadzenMenuItem Text="Chat" Icon="assessment" Path="Diagram">
        </RadzenMenuItem>
        
        <RadzenMenuItem Text="Admin" Icon="accessibility" Path="Admin">
        </RadzenMenuItem>
        
          <RadzenMenuItem Text="Wallet" Icon="accessibility" Path="Wallet">
                </RadzenMenuItem>
        
        <AuthorizeView>
            <NotAuthorized>
            <RadzenMenuItem Text="Login" Icon="lock" Path="Login">
            </RadzenMenuItem>
                 </NotAuthorized>
            <Authorized>
                <RadzenMenuItem Text="Sign Out" Icon="lock_open">  <a  @onclick="PerformLogout"> Log out </a>
                
                    </RadzenMenuItem>
            </Authorized>
        </AuthorizeView>
    </RadzenMenu>
</RadzenCard>


@code {

    public async Task PerformLogout()
    {

        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/", true);
        }
        catch (Exception e)
        {

        }

    }

}