@page "/NavBar"

<RadzenCard Style="height: 100px">
    <RadzenMenu>
        <RadzenMenuItem Text="Home" Icon="home" Path="AdultList" >
        </RadzenMenuItem>

       
            <RadzenMenuItem Text="Shop" Icon="accessibility" Path="Shop">                     
            </RadzenMenuItem>                
                      
        
        <RadzenMenuItem Text="Chat" Icon="assessment" Path="Diagram">
        </RadzenMenuItem>
        
        <RadzenMenuItem Text="Admin" Icon="accessibility" Path="Admin">
        </RadzenMenuItem>
        
        
         <RadzenMenuItem Text="Login" Icon="lock" Path="Login">
                        </RadzenMenuItem>
        
        <RadzenMenuItem Text="" Icon="input" >
                    <a href="" @*@onclick=""*@>
                        Log out
                    </a>
        </RadzenMenuItem>
    </RadzenMenu>
</RadzenCard>


@code {
    
    
    
}