@page "/Shop"
@using SEPCSTier1.Models
@using SEPCSTier1.Data
@inject IItemData IitemData
@inject NavigationManager NavigationManager 


<h3>Shop</h3>

<table class="table">
    <tbody>
    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@Items" TItem="Itemss">
        <Template Context="items">
            <RadzenCard Style="width:300px; margin-bottom: 20px; height:400px;">
                <div class="row" @onclick="@(() => productGoTo(items.id))">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <p>Skin Name</p>
                            <p>Skin Price</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p><b>@items.weaponname</b></p>
                            <p><b>2300 DKK</b></p>
                        </div>
                        
                        <img src="@items.weaponURL" width="300px"/>
                                  
                    </div>
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
    </tbody>
</table>


@code {

    private IList<Itemss> ItemList;
    private IList<Itemss> Items;

    protected override async Task OnInitializedAsync()
    {
        Items = await IitemData.GetItems();
        ItemList = Items;
    }

    private void productGoTo(long id)
    {
        NavigationManager.NavigateTo($"Product/{id}");
    }
    
}