@page "/SignUp"
<h3>SignUp</h3>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Welcome</span><span class="text-black-50">To CSGO Trading</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
               
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" @bind-value="newUserAccount.firstName"   ></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" placeholder="surname" @bind-value="newUserAccount.lastName" ></div>
                    <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="enter address line 2" @bind-value="newUserAccount.username"  ></div>
                    <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control" placeholder="Password" @bind-value="newUserAccount.password"  ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label>
                        <input type="text" class="form-control" placeholder="enter phone number" @bind-value="newUserAccount.phoneNumber" /> </div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" @bind-value="newUserAccount.addressLine" ></div>
                    
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" @bind-value="newUserAccount.postCode" ></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2"  @bind-value="newUserAccount.state" ></div>
                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" @bind-value="newUserAccount.area"  ></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id"  @bind-value="newUserAccount.email" ></div>
                    
                </div>
                <div class="row mt-3">
                </div>
                <div class="mt-5 text-center"><button @onclick="Opret" class="btn btn-primary profile-button" type="button">Sign Up</button></div>
            </div>
        </div>
    </div>
    </div>
@code {
    public async Task Opret()
    {
        Console.WriteLine("HEj " +  newUserAccount.area + newUserAccount.email + newUserAccount.id + newUserAccount.password + newUserAccount.state + newUserAccount.username + newUserAccount.addressLine + newUserAccount.firstName + newUserAccount.lastName+ newUserAccount.phoneNumber + newUserAccount.postCode);
    }


    public User newUserAccount = new User(); 

}