@page "/Product/{Id:int}"


<p>Single product</p>

<div>
    <div>
        <!-- IMG LEFT -->
    </div>

    <div>
        <!-- TEXT RIGHT -->
        <h1>Product name</h1>
        <p>Description</p>
        
        <div>
            <button>Køb</button>
            <button>Forslå pris</button>
        </div>
    </div>
</div>