@page "/Product/{Id:long}"
@using SEPCSTier1.Models
@using SEPCSTier1.Data

@inject IItemData ItemData

<p>Single product @Id</p>

@if (product == null)
{
    <em>Product not found!</em>
}
else
{
<div class="d-flex">
    <div>
        <!-- IMG LEFT -->
    </div>

    <div>
        <!-- TEXT RIGHT -->
        <h1>Product name @product.weaponname</h1>
        <p>Description</p>
        
        <div>
            <button>Køb</button>
            <button>Forslå pris</button>
        </div>
    </div>
</div>
}


@code {

    [Parameter]
    public long Id { get; set; }

    private Itemss product;

    protected override async Task OnInitializedAsync()
    {
        product = await ItemData.GetItemByID(Id);
    }

}