@page "/Product/{Id:long}"
@using SEPCSTier1.Models
@using SEPCSTier1.Data

@inject IItemData ItemData
@inject ICart cart

@if (product == null)
{
    <em>Product not found!</em>
}
else
{
    <div class="d-flex">
        <div>
            <!-- IMG LEFT -->
            <img src="@product.weaponURL">
        </div>

        <div class="bg-light rounded-lg pl-5 pt-4 w-50">
            <!-- TEXT RIGHT -->
            <h1 class="fw-bold">@product.weaponname</h1>
            <h3 class="fw-bolder">3120,00 DKK</h3>

            <div class="d-flex">
                <p>Icon</p>
                <p class="fw-normal">Username</p>
            </div>

            <p class="fw-normal">Description</p>

            <div>
                <button type="button" @onclick="addToCart" class="btn btn-primary">Læg i kurv</button>
                <button type="button" class="btn btn-dark">Forslå pris</button>
            </div>
        </div>
    </div>
    
    <div class="row my-5">
            <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
                <RadzenCard class="m-3">
                    <h3 class="h5">Contact</h3>
                    <div class="d-flex flex-row">
                        <RadzenImage Path="@product.weaponURL" Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />
                        <div>
                            <div>Seller</div>
                            <b>Bente bendt</b>
                            <div class="mt-3">Reps</div>
                            <b>2 plus reps</b>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
}


@code {


    [Parameter]
    public long Id { get; set; }

    private Itemss product;

    protected override async Task OnInitializedAsync()
    {
        product = await ItemData.GetItemByID(Id);
        
    }

    public void addToCart()
    {
        Console.WriteLine("Product added to cart");
        cart.addProduct(product);
    }

}