@page "/UserHomePage"


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="Talon Knife .webp" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <a href="#"><i> Sales : 8</i></a>
  <a href="#"><i> Buys : 90</i></a>
  <a href="#"><i> wallet : 900 </i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p> <a href="AddItem.razor"> <button> Make a new sale offer</button> </a></p>
</div>


@code {

    
}