@page "/UserHomePage"


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="Talon Knife .webp" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">Firstname, Lastname </p>
  <p>Måske hans id??</p>
  <a href="Shop"><i> Sales : 8</i></a>
  <a href="Wallet"><i> Buys : 90</i></a>
  <a href="Wallet"><i> wallet : 900 </i></a>
  <p> <a href="AddItem"> <button> Make a new sale offer</button> </a></p>
</div>


@code {

    
}