/* _content/SEPCSTier1/Pages/Footer.razor.rz.scp.css */
h1[b-wkb6qfwjvj],h2[b-wkb6qfwjvj],p[b-wkb6qfwjvj] {
    text-align: center;
}

.fa[b-wkb6qfwjvj] {
    box-sizing: inherit;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#centerImage[b-wkb6qfwjvj]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* _content/SEPCSTier1/Pages/Login.razor.rz.scp.css */
html[b-hd8b442zrn] {
    height: 100%;
}


body[b-hd8b442zrn] {
    margin:0;
    padding:0;
    font-family: sans-serif;
}


.login-box[b-hd8b442zrn] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2[b-hd8b442zrn] {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box[b-hd8b442zrn] {
    position: relative;
}

.login-box .user-box input[b-hd8b442zrn] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label[b-hd8b442zrn] {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label[b-hd8b442zrn],
.login-box .user-box input:valid ~ label[b-hd8b442zrn] {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a[b-hd8b442zrn] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover[b-hd8b442zrn] {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span[b-hd8b442zrn] {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1)[b-hd8b442zrn] {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1-b-hd8b442zrn 1s linear infinite;
}

@keyframes btn-anim1-b-hd8b442zrn {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2)[b-hd8b442zrn] {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2-b-hd8b442zrn 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2-b-hd8b442zrn {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3)[b-hd8b442zrn] {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3-b-hd8b442zrn 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3-b-hd8b442zrn {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4)[b-hd8b442zrn] {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4-b-hd8b442zrn 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4-b-hd8b442zrn {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
/* _content/SEPCSTier1/Pages/SignUp.razor.rz.scp.css */
body[b-6solt7yd44] {
    background: rgb(0, 64, 212)
}

.form-control:focus[b-6solt7yd44] {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button[b-6solt7yd44] {
    background: rgb(0, 64, 212);
    box-shadow: none;
    border: none
}

.profile-button:hover[b-6solt7yd44] {
    background: rgba(14, 0, 0, 0)
}

.profile-button:focus[b-6solt7yd44] {
    background: #0040d4;
    box-shadow: none
}

.profile-button:active[b-6solt7yd44] {
    background: #0040d4;
    box-shadow: none
}

.back:hover[b-6solt7yd44] {
    color: #682773;
    cursor: pointer
}

.labels[b-6solt7yd44] {
    font-size: 11px
}

.add-experience:hover[b-6solt7yd44] {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
/* _content/SEPCSTier1/Shared/MainLayout.razor.rz.scp.css */
     
.page[b-5sbyiyc75m] {
    position: relative;
    display: flex;
    flex-direction: column;
}


/* _content/SEPCSTier1/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-chomr41mm5] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-chomr41mm5] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-chomr41mm5] {
    font-size: 1.1rem;
}

.oi[b-chomr41mm5] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-chomr41mm5] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-chomr41mm5] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-chomr41mm5] {
        padding-bottom: 1rem;
    }

    .nav-item[b-chomr41mm5]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-chomr41mm5]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-chomr41mm5]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-chomr41mm5] {
        display: none;
    }

    .collapse[b-chomr41mm5] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
